.gitignore
Makefile
debian/flightoggle
debian/*.log
debian/tmp
debian/files
debian/*.substvars
*-stamp
.objects
.moc
*~
*.sw?
src/flightoggle
moc_*
*.o
flightoggle.qm
flightoggle.ts
flightoggle_en.qm
flightoggle_fi.qm

