Source: flightoggle
Section: misc
Priority: optional
Maintainer: Jani Mikkonen <jani.mikkonen@gmail.com>
Build-Depends: debhelper (>= 5), libqmsystem2-dev, libmeegotouch-dev, aegis-builder (>= 1.6)
Standards-Version: 3.8.0
Homepage: http://github.com/rasjani/FlighToggle

Package: flightoggle
Architecture: any
Depends: libmeegotouchcore0, libqmsystem2, libqtcore4, libqtgui4, ${misc:Depends}
Section: user/other
Priority: optional
Version: 0.9.0
XSBC-Maemo-Display-Name: FlighToggle
XSBC-Maemo-Display-Name-fi_FI: FlighToggle
XSBC-Maemo-Display-Name-en_EN: FlighToggle
XB-Maemo-Flags: visible
Description: Provides on/off button for flight mode for homescreen
 Flightoggle provides conveniant toggle button to the launcher
 homescreen to quickly toggle between normal and flight mode.
 .
 Released under GNU General Public License V2.0
 More info: http://github.com/rasjani/FlighToggle
XB-Description-fi_FI: Nappi jolla voi nopeasti vaihtaa puhelimen lentotilaan ja pois
 FlighToggle tuo käynnistys ruudulle pikakuvakkeen josta voi helposti ja nopeasti
 vaihtaa puhelimen lento tai normaali tilaan.
 .
 Julkaistu GNU General Public V2.0 lisenssin alla.
 Kotisivu: http://github.com/rasjani/FlighToggle
XB-Description-en_EN: Provides on/off button for flight mode for homescreen
 Flightoggle provides conveniant toggle button to the launcher
 homescreen to quickly toggle between normal and flight mode.
 .
 Released under GNU General Public License V2.0
 More info: http://github.com/rasjani/FlighToggle
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9sMHhUxO6ygBOwAABHPSURBVHja
 1Vt7dBVFnv6qqrtv30cSyIsQJCCgaBwgCCghT8VRzzir4uAD8DGe44Ed0QEBIeiqODoSUEBFZ3V1
 1cVhnV0dnRUfRMGJIUF3dRSPCiY4IgkxITEJye3cR3dX1f6R23du3jckzmCfU+em78mtrt/3+37P
 qiYY5vXYY49hxYoVvb7fvn07JYRolFIFACGEEAA08kkIIURKSdB1I6WUEoDzKZx7IYQtpTRvv/12
 Ee+zh3KRk/3htm3bcMcdd0Tvn3zyyURCSCYhJJ0Qkmaa5pmc8xwhRBYANwCflNJLCPFIKd0A1B5T
 WoSQoJQyQAjpBGAACFJKaxljBzRNq5FSNkspm6SUDcuXL2/vby0/KAA9H/bEE08sIYRcappmlmVZ
 Y23bTuecJ3HOIYQA5xzoUm10OPfdFkJI9NMZAMAYA6UUjDEwxtoVRWlSVbVR07SjUsrdt912287h
 ABE3AFu3bsWqVasAAI888kiCpmnrAdzo9/tTAoGAHito5FNGBCLDoWjPeWKB8Xg8oYSEhBYAO0zT
 LF2zZk1Hz7UOG4AtW7Zg9erVAIBHH310nBDiUQALDcOAYRgAIIdjSsO8JADi8/ng8/kA4BVK6cqV
 K1fW91z7SQGwefNmrF27Ftu2bWOEkCXhcPh3nZ2d3kAgAAByuNodMRS6WEI8Hg+8Xm+ny+W6VUq5
 84477uCODEMG4OGHH8add96JzZs3uxVFedowjEWGYSic81NG8L6AYIwRn89n+3y+l2zbXrZ27dqg
 I0vcAGzatAnr1q3Dpk2bpqiq+l5ra+v4UCgEKeUpK3wsCIQQous6kpOT6yzLunDdunVfOzINCkBp
 aSlKSkpQWlrqZoxVNzc3j7dt+x9p5yeNhaIoJC0trY5zPrWkpCToyDYoA0pLSxml9PkTJ07cEAgE
 TnmtD8QGj8dDRo0a9aIQ4uaSkhLe839o7M2DDz7oxOIlhmEsijg7EhvDf0wDAAkEAjAMYxEhZEms
 jP0yYOPGjeMsy6pua2vzCiF+jNTvRQRKKRk9enSnqqpT169fX98nA37zm98AADjnj/r9fq9t21II
 QYQQOBWGlBKmaUHKrpLANM14f0ts25Z+v9/LOX80VtZeDNiwYUMiIaS9qakJp4rZE0Jg2xyG4UfS
 qATkF8xFWnoa/vjyn3CsrgETJkzolVb34w+Qnp4OKWXShg0bOrox4N5773XSyxLDMCCEkKeC1iml
 aG/vQFtbCy6/8lLcc986XH31AhQV5eOBB+/Bwmsux+Gaw5BSxjOfNAwDjLGSWJm7qfn+++8/1tDQ
 MO5U0D4hBAcOHMC1112FG25aBF3XQQiJapsQAlVVcFfJBhyuOYKMjIy4WDB27Nj6++6777QoA9av
 X+/Qf4nf70+RUsqB7dBEOBxGOBwG5zzqcUfKzm3bRntHO8LhAP7w389j+e3LoOt6L3AopTh+vBlv
 vVUGRVFg23Y880u/35+yYcOGJQCwfv160I0bNzroXNrZ2alLKfsNex0dHdB1FUwBmAKASBw5cgR+
 vx+U0uGEK3DO0dTUBI9Px4JfXIannnkcYzLGwDTNbuUxIQSKoqC6+jAK8i5C/bEGaJoW77NIRMZL
 IxGvywTuvvvuRM75rpaWlsK+HAohBN988w2W/vMvMf+iC+ByabBtG9/VN6Cq6kO8/F+vIhAIITs7
 u89af6CLUorvv2+Bx+PCFQsuQ17+XGSkZyBshSGl7OaMpZRgjOGrr2pwzcLr0dhwHIWFhUhOToaq
 qnGbVkpKyj5K6T899NBD7Urk+0zTNMfGaqSn7bS1taGwKB9erwcAoCgKJk0+HadPmogrrvw53nxj
 N7Y88jjOmnoWkpOTIYSIS/jq6mpcueAyLL7+GiQmJgIAQmaom9adNRBK0HS8CZf/fCFaW9qQm5sL
 r9cLxtiQQDdNM8Ptdo8F0O7kAemWZaX3ZzuccyhMwaFDX3WjunMlJvhww42L8Oln+zF7zgwc+fZI
 NE739A9SSnDOYRgGgiE/Xvj901ixYjkSExO7ObhYwZ0GSPPxZpw3uxDHG5swa9YsJCYmwuVyAcCQ
 fI1lWekA0qNhUAiRZtt2krPAnkMIgfFZ4/GrZStQV3cMuqb/TSuEAITAsixwzlGybg2ee+F3mDQl
 C6FQEG1tbVFhhBBobm6GL8GN6xYvwIs7nkPm2AyEzFAvwWMpqyhd4OfNuwgt37di9uzZSE1NjUaG
 /tbdnywRWdMAgK1atYoKIa4IBoPzbduW/TlBzjnCYRM7Xvg9ss85C2dMPgNc2L16erawkZDgQ2FR
 HiZMHI9Ow8Cnn3yGjg4/PB4Xllx/DRYtuQazzs1B2DJ72XlP06OU4vDhv+Laq29AXe0xnHf+eUhL
 S4Pb7Y5Sf4hDUkqJoigHcnNz9yuEEM227Rzbtge0I1VVkZGRgfp6jquuvA7/9uyTWHDV5bAsq5f2
 OOcghCAnZzrOPvss/PTiC1FXdwxFRflIGpUEAAibZr9aj2VXR4cfC69ajK8P/xW5ubkYPXo0dF2P
 muLJXLZtw7btHEVRNJabm6vbtn17KBQ6TQjRbwiklIJSCpfLBVXV8PhjT6Kutg4FhXlwuVzdBIn9
 m1KKzHFjkZ09FVrEXmO7v30JDgCUUQQ6Aygq+CkOHazGnDlzkJqaCo/HA0VRhlMlEgDQNM3PGNtJ
 hRCEc+4ezHFwzkEpha7ryMzMRH5+Pl794+uYlj0HL+74TwQCwT69sZO9cS7i1pCqqmj8rhGXXHQ5
 Dn75FWbOnImMjIyozTst9+GMiMyERmzeF68jURQFuq4jJSUFubm5SElJxZ2r78LCBYvw0Ud/gVtL
 HHIu0DM0NjQ04qYbl+Ljjz/BrFmzMH78eGiaNqxkq6cjlFL6pJSECiEo59w7FFQJIdA0DW63GxMn
 TkROzkwcOlSDC4ouxeo1q6EoypBjswNaKBjC0luW4/3yfZgzZw7S09OhqmrU24/E4JyDc+4VQlCH
 AZ6TydtVVYXX60ViYiKmT5+OaT+Zhq1bHse5M+fhi8+/HLL2FUXBa6++jt1vv4sZM2YgOTk56vB+
 gP6Cx2EA4Zy7T8aunGJI0zTouo60tDQUFxej9ts6LF50M/x+/5ArwJbWVkyfMQ0JCQlR5zoSNt8H
 A9xCCKJEGKDGk7oOZrsulwtSSsyYMQOhcBBDdQOWZWHFyuW46KIL8IeXXkHZ7r3IysoaVsgbwNzU
 WAaMCMoOGzRNg6KoJ9UDsG0bU886E3ffsxZPP7sdHf4TaG1tHbDkHmpJHiMvoX3l68MFQVVVcNsG
 hqE1xhimTz8Hb5f9Cbl5c9DUdByWZXVba1d2Gkbz903oDBoIBoOwLCvudQohQDnncqRtTEqJUCg8
 LNo6+YOUEr/97Qbc9uul4MKOssHv90NKgTnnzcRbu1/Fu2V7sOnh+zFqVALa29th2/aArI6wQCqR
 /p8VsYkRsS8hBELhMGQcYc+t6QDcEAjAtMw+/8e0TCy+7jrkzMzB8//+It5+6x0UFeVjyY3XIvf8
 82HaJoJmK2bOmIVJkyfi888PRn0SpbS/NVpCCEkjAARHOsyY4cEZoCgK/vXpZzB16pl47bXXo/E+
 9nfOfdAMYvLk03HXv6zBjp3P4IGH7sW55+YgbIUhhABjDMcaarHxoUegKEoUvAHWGBRCSMo5l0KI
 wFBr6sFMIBw2BwWAUor77nkQNTVfY+FVizFv7gX45JMDME2zV23gAOF2u3HOOWfD43FHTYQQAo3p
 WP6rldA0DR6PJ5qI9bW+iKwBzrmknHMhhOgcaQbYtgXb5v1SX1ddeO7Z/0Bz8/eYPXs2JkyYgC+/
 OIR551+Aq3+xBK+8/BoaG4/DrXm6lb09QQEATVXx7t538eYbuzF16tR4tA8hRCfnXDg+wIhFZwRi
 LACCYNfeYp8ODnBh29btGDduXFfFmJmJ9PR0tLW14eOPDuC9ve/jJ9Oy8bOfXYJblt6MSRPOQMgy
 +pyrw29g29btSE9Ph6ZpvQDrxwcYUROQUgZHMhQ6QAYDwT5LXkopvjlag2P13yE1NTXa9dE0Damp
 qTj99InIzs5Gc1MLSjduwbTsOVi85HoEg8E+AdhXUYn3yyuRnJwMxtigdUMEnCDnXCpSShtALYC5
 I70ZGggF+2SHwhg+2P8hIBHtM8S2vxhjUFUVmqYhLS0NjY2N+OLzL2FZNtzu7vMZhoEntj8VTZ0Z
 Y4MxWTLGCIBaKaWtWJZlEkIOALhmJE3A2czsS2MUDFWVHyAlJaXbvkDPRMhpmqSnj8GZUyeBMdrt
 GS7NhZf+52W8U7YX2dnZcVE/5jpgWZZJd+3aJSilNRETICNpAmY43KcJnPCfwMGDX0FRlGie398c
 jDFQQpCUlBRlitOXOHq0Fr++bTVOO+20aMyPZ7c40uGq2bVrl1AiDqEZQLsQImnknCD6ZAAAfPtt
 LRobj0cFGox5XPBIN+hvpqJSN2684RaYponRo0cPVfvtEZmhRJqETZTSJill0khWXeFwuE8TOPpt
 LQyjE0mJSVGHNSAAvGunmEbYpKoqnn7mKfzvh/+HSZMmxw1kzL5ik23bTdF9Ac75d4SQhpGtB0Rk
 X6+nMBzV1TXwdxhxd3kUhWHPu3/Ge++9D0IJjtUdw9Yt2zFq1GhQSofcLSKENHLOG6IMKCsr67j4
 4otr40UxfgaYvYJKOGziLx9/Cl13dSt44mHTzTctRUFhHqSQOFZXj8zMzCFp3/EpjLGjZWVl7QBA
 58+f70yw2+VyhYToOqk+3KYjJGD1KG66IkMYnx34HF6vrxsAAw1CCFwuF0aNGo0339iNN954G0lJ
 SVBVdUgtciGEjMi4GwDmz58PunfvXgDAnj17drrd7hbnVNgInHBAONzdBAghaG09gerqGrhcWq/C
 Z6ANElVVoes6Jk+ejClTpiApKQmMsaE6ZuJ2u1v27NmzEwD27t3b5QOKi4udf9rh7so0ho0ApSSy
 a0S60W/vnj9DVbVuyU88fQFKKTRNg8vlgsvlOpnOs3S73ZBS7oiVmQJAeXm5s2VUGjmNMWwW6Lob
 HR1+KCQBjHXFepWqKNv9bjT9HWpzhBACxlhU+HgAjNW+ruuwbbs0VuZoalVcXIyKiooOAK9omjZs
 Fni9Hjzz9PP45c3X4+i3dXBrXljCwjtle5CQkBD13kMBYTipSUSmVyoqKjoc7fd5ULK4uHicbdvV
 hmF4hRAndUxWSgnLshAKhXDkyBEAwIycaWhu+h5tbScwceLEaBb49zguSyklPp+vU1GUqeXl5fX9
 HpUtLCxEeXl5vaIot+q6bg/njLBjs1OmTEFycjIOHaxBS0srxowZ0+/G6A902ozoum4rinJreXl5
 fWFh4eCHpQsLCxml9HnDMG4wTXNILHBs1fEhzra7E6cppd1qgB8SCCml1DSN+Hy+F4UQN1dUVAx8
 WBoAioqKUFFRwYUQy7xebx1jjMgheMRYh+WUt6qqRr230/cbAbseVHjGGPF6vXVCiGUVFRW8qKio
 93r7+nFBQQH27duHvLy8KYyx9zo7O8dHNPmjeWFCURR4vd46zvmFVVVVXzsy9coM+5qktrYWBQUF
 qKysbB03btxTuq5nEULOEUIw5/2cUw2HCEklpZToum673e6dtm1fsn///qb+hO8XAAeE/Px8VFVV
 2VlZWa8rinKEMXaxlFKL2PMpAYQjOACiqipxu92dmqYtk1I+UFVVZebn56OysrJ/kx3sAbHoFRQU
 RF+bc47M/qOAiBXc5XLBifOU0pX79u2r77n2kwbAufLy8lBVVQUAmDt3boKqquullDeappliWZYe
 W43FLG7AZzigDeJjZUxE6xZmVVUNaZrWQgjZYVlW6YcfftjRc62DOu2hIt9z8vz8/CWEkEs551mc
 87FCiHSns+R0YHsK2Z/AfR20cg5GR4Rup5Q2McYaGWNHpZS7Kysrd/a3th8EgAGASASQSQhJB5Am
 hDhTCJEjpcwC4JZS+gDE9fI0gE5CiAEgSAippZQeoJTWAGiWUjYBaKisrGwfjuDDBsC55s2bh/37
 9/f6Pjc3l1JKNUK6DmFEXpenlFISeS6Jeb50RiT9FpFwJqWUthDC/OCDD0S8zx7K9f/nGNjQxZGX
 uAAAAABJRU5ErkJggg==
