[Desktop Entry]                                                                                                                                                                                                
Type=Application
Name=FlighToggle
Icon=/opt/flightoggle/share/pixmaps/flightoggle.png
Exec=/opt/flightoggle/bin/flightoggle
X-translation-catalog=flightoggle
OnlyShowIn=X-MeeGo;
